

 <!-- FOOTER COPYRIGHT -->
<!-- <div class="footer-bottom">
    <div class="container">
      <p>2017 &copy; All rights reserved by
        <span>TutorsClub</span>
      </p>
      <ul>
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="blog.html">Blog</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div> -->

  <!-- FOOTER COPYRIGHT -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <ul class="flinks">
                    <li><a href="./index.html">  Site Map </a></li>
                    <!-- <li><a href="./index.html"> Search Terms </a></li> -->
                    <!-- <li><a href="./index.html"> Advanced Search </a></li>
                    <li><a href="./index.html"> Orders and Returns </a></li>
                    <li><a href="./index.html"> Customer Service </a></li> -->
                </ul>
                <br>
                <!-- <p> 2017 &copy; All rights reserved by <span>TutorsClub</span> </p> -->
            </div>
            <div class="col-md-3 col-sm-3">
                <p> 2018 &copy; All rights reserved by <span>TutorsClub</span> </p> 
               <!--  <img src="assets/images/payment.png" class="pull-right img-responsive payment" alt=""> -->
            </div>
        </div>
    </div>
</div>
