/* .mat-form-field.mat-form-field{
    font-size: 12px;
    width: 82px;
} */

.alignMiddle{
    vertical-align: middle;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }



  .custom-select{
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: black;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 34px;
    background-color: white
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .example-margin {
    margin: 0 10px;
  }

  .button{
    margin-right: 18px!important;
  }