<div class="bgcolor">
  <div class="bcrumbs">
    <h2>Learner Batch Request
    </h2>
  </div>
  <div class="container-fluid">

    <!-- <mat-form-field>
            <input matInput placeholder="Search">
          </mat-form-field> -->

    <div class="mat-elevation-z8" style="overflow: auto;">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="LearnerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Learner Name</th>
          <td mat-cell *matCellDef="let row" [style.color]="row.TutorName"> {{row.LearnerName}} </td>
        </ng-container>

        <ng-container matColumnDef="CourseName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Name </th>
          <td mat-cell *matCellDef="let row">
            <a [routerLink]="['/CourseExplanation',row.CourseId]" title="View Course">{{row.CourseName}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="BatchType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch Type</th>
          <td mat-cell *matCellDef="let row"> {{row.BatchType}} </td>
        </ng-container>
        <ng-container matColumnDef="LMobileNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
          <td mat-cell *matCellDef="let row">{{row.LMobileNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="LEmailId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Id</th>
          <td mat-cell *matCellDef="let row"> {{row.LEmailId}} </td>
        </ng-container>
        <ng-container matColumnDef="TrainingName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Training Name</th>
          <td mat-cell *matCellDef="let row"> {{row.TrainingName}} </td>
        </ng-container>
        <ng-container matColumnDef="TrainingModeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Training Mode Name</th>
          <td mat-cell *matCellDef="let row"> {{row.TrainingModeName}} </td>
        </ng-container>
        <ng-container matColumnDef="SessionTypeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Session Type Name</th>
          <td mat-cell *matCellDef="let row">{{row.SessionTypeName}}</td>
        </ng-container>
        <ng-container matColumnDef="Time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
          <td mat-cell *matCellDef="let row"> {{row.Time}} </td>
        </ng-container>
        <ng-container matColumnDef="StartDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let row">{{row.StartDate| date:"dd/MM/yyyy"}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <div [hidden]="!isLoadingResults" class="text-center">
        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        <h5>
          Loading Please Wait..
        </h5>
        <span class="sr-only"></span>
      </div>
      <!-- <div class="clearfix space20"></div> -->
      <div class="text-center" [hidden]="!(dataSource.data.length==0&&!isLoadingResults)">
        No Records Found
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>