<div class="container-fluid bgcolor">
        <div class="row text-center signUp_ribbon padding60">
                <h2><b class="height">SignUp for TutorsClub</b></h2>
        </div>
        <div class="clearfix space40"></div>
        <div class="container back">
                <!-- <h4>Let's get started</h4> -->
                <div class="row text-center">
                        <div class="col-xs-12 col-md-4 space10">
                                <img src="assets/Images/icons/Graduate.PNG"/>
                                <!-- <i class="fa  fa-user fa-5x"></i> -->
                                <h4>Learner Sign Up</h4>
                                <h5>Discover amazing teachers, post tuition jobs, take enriching courses</h5>
                                <button type="button" class="btn btn-primary" [routerLink]="['/learner-signUp']" role="button" aria-expanded="false" aria-controls="collapseExample">Sign Up
                                </button>
                        </div>
                        <div class="col-xs-12 col-md-4 space10">
                                <!-- <i class="fa  fa-user fa-5x"></i> -->
                                <img src="assets/Images/icons/Chalkteacher.PNG"/>
                                
                                <h4>Tutor Sign Up</h4>
                                <h5>Discover amazing teachers, post tuition jobs, take enriching courses</h5>
                                <button type="button" class="btn btn-primary" [routerLink]="['/tutor-signUp']" role="button" aria-expanded="false" aria-controls="collapseExample">Sign Up
                                </button>
                        </div>
                        <div class="col-xs-12 col-md-4 space10">
                                <!-- <i class="fa fa-university fa-5x"></i> -->
                                <img src="assets/Images/icons/University.png"/>
                                
                                <h4>Institute/Agency Sign Up</h4>
                                <h5>Discover amazing teachers, post tuition jobs, take enriching courses</h5>
                                <button type="button" class="btn btn-primary"  role="button" aria-expanded="false" aria-controls="collapseExample">Sign Up
                                </button>
                        </div>
                </div>
                <div class="clearfix space20"></div>
                <div class="row">
                                <div class="col-xs-12 text-center">
                                      <h4> Already Have An Account?
                                        <a routerLink="." (click)="openLoginDialog()"><u>Login</u></a></h4> 
                                </div>
                        </div>
        </div>
</div>
<!-- <div class="clearfix space20" style="background-color: rgb(223, 219, 219)"></div> -->

<!-- <calendar-component></calendar-component> -->