table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 150px;
  }

  .backGroundColor{
    background-color: #9e9e9e;
}

  h2.courepage-intro-text {
    clear: both;
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
    line-height: 1.57;
    padding: 0 0 15px;
    display: inline-block;
    font-weight: 400;
  }

  .textsize {
    clear: both;
    font-size: 14px;
    line-height: 1.57;
    display: inline-block;
  }

  @media (min-width: 300px) {
    section.new-course-banner-bg {
      background: url() center center/cover no-repeat #4e9cff;
    }

    @media (min-width: 300px) {}
    .new-course-wraper .course-banner .course-rate,
    .new-course-wraper .course-banner h1,
    h2.courepage-intro-text {
      color: #fff;
    }
  }
  h1{
    font-size: 25px;
  font-style: oblique;
}

.color{
  color: white;
}
.invalid{
  color: red;
  font-size: 12px;
}
.mat-dialog-title{
  margin: 0 0 8px;
  display: block;
  font-family: inherit
}
.panel-info {
  border-color: #2e6da4;
}
.panel-body{
  padding: 25px;
}
mat-select{
  font-size: 12px;
}
.form-control{
  height: 34px;
}
.mat-column-TCDemoId {
  width: 10px
}
.mat-column-TCDemoId1 {
  width: 10px
}
.mat-column-DateModified1 {
  width: 50px
}
.mat-column-DateModified {
  width: 50px
}