.mat-column-RoleID1 {
    width: 50px
  }
  .mat-column-RoleID {
    width: 50px
  }
/* .searchPosition{
  width: 300px;
  display:block;
  margin: auto;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: black;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: auto;
  background-color: white
} */

